@import "styles/flex";
@import "styles/common";
@import "styles/flex";
@import "styles/space";

$primary: #106812;

:root {
  --primary-color: #{$primary};
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.5em;
  line-height: 1.5;
}

#toolbar {
  background-color: $primary;
  color: white;
}

.themed-border {
  border: 1px solid $primary;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
